<tr >
  <td><%= link_to applicant.id, edit_applicant_path(applicant.id) %></td>
  <td><%= applicant.name %></td>
  <td><%= applicant.surname %></td>
  <td><%= applicant.city %></td>
  <td><%= applicant.address %></td>
  <td><%= applicant.telephone %></td>
  <td><%= applicant.email %></td>
  <td><%= applicant.total_members %></td>
  <td><%= applicant.incomings %></td>
  <td><%= applicant.description %></td>
</tr>
