
<div style="border: 0px solid red; margin-top: 20px; margin-bottom: 20px;">
  <%= link_to "New Application", new_applicant_path, class: 'btn btn-primary btn-lg', style: 'border-radius: 5px;' %>
</div>

<table class="table table-striped" style="font-size: 16px;">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Surname</th>
      <th>City</th>
      <th>Address</th>
      <th>Telephone</th>
      <th>Email</th>
      <th>Total Members</th>
      <th>Incoming</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: 'applicant_row', collection: @applicants, as: 'applicant' %>
  </tbody>
</table>
