<h1>NEW APPLICATION</h1>
    
<%= form_for @applicant do |f| %>
    <div class="row" style="font-size: 16px;">    
      <div class="col-md-6 mb-3">
        <%= f.label :"Emri", for: "firstName" %>
        <%= f.text_field :name, class: "form-control", required: true %>
      </div>
      <div class="col-md-6 mb-3">
        <%= f.label :"Mbiemri", for: "surName" %>
        <%= f.text_field :surname, class: "form-control", required: true %>
        <div class="invalid-feedback">
          Valid last name is required.
        </div>
      </div>
    </div>
    <div class="mb-3">
      <%= f.label :"Email", for: "email" %>
      <span class="text-muted"> (Optional)</span>
      <%= f.text_field :email, class: "form-control", placeholder: "you@example.com", type: "email" %>
    </div>
    <div class="mb-3">
      <%= f.label :Qyteti, for: "city" %>
      <%= f.text_field :city, class: "form-control", placeholder: "Debar", required: true %>
    </div>
    <div class="mb-3">
      <%= f.label :Adresa, for: "address" %>
      <%= f.text_field :address, class: "form-control", placeholder: "1234 Main St", required: true %>
    </div>
    <div class="mb-3">
      <%= f.label :"Kontakt telefoni", for: "telephone" %>
      <%= f.text_field :telephone, class: "form-control", placeholder: "+389xx-xxx-xxx", required: true %>
    </div>
    <div class="row">
      <div class="col-md-6 mb-3">
        <%= f.label :"Numbri i antareve", for: "total_members" %>:
        <%= f.select(:total_members, ['2', '3', '4', '5', '6', '7', '8'], {}, { :class => 'custom-select d-block w-100', :required => true }) %>
      </div>

      <div class="col-md-6 mb-3">
        <%= f.label :"Te ardhurat mujore", for: "incomings" %>
        <%= f.text_field :incomings, class: "form-control", required: true %>
      </div>
    </div>
    <div class="mb-3">
      <%= f.label :"Pershkrim", for: "description" %>
      <%= f.text_area :description, size: "20x10", class: "form-control", placeholder: "Describe your problem here..", required: true %>
    </div>
    <hr class="mb-4">
    <div class="text-center">
      <%= f.submit class: "btn btn-primary btn-lg" %>
    </div>
  <% end %>