<div style="border: 0px solid red; margin-top: 20px; margin-bottom: 20px;">
  <%= link_to "New User", new_user_path, class: 'btn btn-primary btn-lg', style: 'border-radius: 5px;' %>

</div>


<table class="table table-striped" style="font-size: 16px;">
  <thead>
    <tr>
      <th>ID</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: 'user_row', collection: @users, as: 'user' %>
  </tbody>
</table>
