<h1>New User</h1>


<%= form_for @user do |f| %>

    <div class="row" style="font-size: 16px;">    
        <div class="col-md-6">
            <%= f.label :"Email", for: "email" %>
            <%= f.text_field :email, class: "form-control", required: true %>
        </div>
    </div>

    <div class="row" style="font-size: 16px;">    
        <div class="col-md-6">
            <%= f.label :"Password", for: "password" %>
            <%= f.password_field :password, class: "form-control", required: true %>
        </div>
    </div>
 
    <br />
    <div class="text-left">
        <%= f.submit class: "btn btn-primary btn-lg" %>
    </div>

  <% end %>