<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
  <div class="container">
    <a class="navbar-brand js-scroll-trigger" href="#page-top" style="font-size: 20px;">Shoqata Atdhetare Dibra</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      Menu
      <i class="fa fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path %>
        </li>
      </ul>
    </div>

    <%= link_to "DONATE", new_donation_path, class: 'btn btn-primary btn-lg', style: 'border-radius: 5px;' %>



  </div>
</nav>

<header class="masthead">
  <div class="container h-100">
    <div class="row h-100">
      <div class="col-lg-7 my-auto">
        <div class="header-content mx-auto">
          <h1 class="mb-5">Mirësevini në faqen kryesore të Shoqatës Atdhetare Dibra - Dega e Bamirësis</h1>
          <a href="#download" class="btn btn-outline btn-xl js-scroll-trigger">Applikoni me Poshte!</a>
        </div>
      </div>
      <div class="col-lg-5 my-auto">
        <div class="device-container">
          <div class="device-mockup iphone6_plus portrait white">
            <div class="device">
              <div class="screen">
                <img src="img/donate.jpg" class="img-fluid" alt="">
              </div>
              <div class="button">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<section class="download bg-primary text-center" id="download">
  <div class="container">
    <div class="row">
      <div class="col-md-8 mx-auto">
        <h2 class="section-heading">Ju lutemi mbusheni formen me poshte!</h2>
        <p>Ju lutem mbushni te gjitha detalet me poshte!</p>
        <div class="col-md-12 offset-md-0">
      
          <%= form_for @applicant do |f| %>
            <div class="row" style="font-size: 16px;">    
              <div class="col-md-6 mb-3">
                <%= f.label :"Emri", for: "firstName" %>
                <%= f.text_field :name, class: "form-control", required: true %>
              </div>
              <div class="col-md-6 mb-3">
                <%= f.label :"Mbiemri", for: "surName" %>
                <%= f.text_field :surname, class: "form-control", required: true %>
                <div class="invalid-feedback">
                  Valid last name is required.
                </div>
              </div>
            </div>
            <div class="mb-3">
              <%= f.label :"Email", for: "email" %>
              <span class="text-muted"> (Optional)</span>
              <%= f.text_field :email, class: "form-control", placeholder: "you@example.com", type: "email" %>
            </div>
            <div class="mb-3">
              <%= f.label :Qyteti, for: "city" %>
              <%= f.text_field :city, class: "form-control", placeholder: "Debar", required: true %>
            </div>
            <div class="mb-3">
              <%= f.label :Adresa, for: "address" %>
              <%= f.text_field :address, class: "form-control", placeholder: "1234 Main St", required: true %>
            </div>
            <div class="mb-3">
              <%= f.label :"Kontakt telefoni", for: "telephone" %>
              <%= f.text_field :telephone, class: "form-control", placeholder: "+389xx-xxx-xxx", required: true %>
            </div>
            <div class="row">
              <div class="col-md-6 mb-3">
                <%= f.label :"Numbri i antareve", for: "total_members" %>:
                <%= f.select(:total_members, ['2', '3', '4', '5', '6', '7', '8'], {}, { :class => 'custom-select d-block w-100', :required => true }) %>
              </div>

              <div class="col-md-6 mb-3">
                <%= f.label :"Te ardhurat mujore", for: "incomings" %>
                <%= f.text_field :incomings, class: "form-control", required: true %>
              </div>
            </div>
            <div class="mb-3">
              <%= f.label :"Pershkrim", for: "description" %>
              <%= f.text_area :description, size: "20x10", class: "form-control", placeholder: "Describe your problem here..", required: true %>
            </div>
            <hr class="mb-4">
            <div class="text-center">
              <%= f.submit class: "btn btn-primary btn-lg" %>
            </div>
          <% end %>
        </div>  
      </div>
    </div>    
  </div>
</section>

<% if notice %>
<p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
<p class="alert alert-danger"><%= alert %></p>
<% end %>


