<header class="masthead" >
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
  <div class="container" style="border: 0px solid red;">
    <%= link_to "Shoqata Atdhetare Dibra", root_path, class: 'navbar-brand js-scroll-trigger', style: 'font-size: 20px;' %>
    </div>
   
    <div class="container">
        <h1> Comming Soon .. </h1>
    </div>
  </nav>
</header>


