<header class="masthead" >
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container" style="border: 0px solid red;">
      <%= link_to "Shoqata Atdhetare Dibra", root_path, class: 'navbar-brand js-scroll-trigger', style: 'font-size: 20px;' %>
    </div>
  </nav>
      
  <br /><br /><br /><br />

    <div class="container" style="border: 0px solid yellow;">

    <div class="container h-100" style=" padding-left: 0px !important;">


        <div class="col-lg-7 my-auto" style="max-width: 100% !important;">


                <div class="header-content mx-auto" style="background-color: rgba(255, 255, 0, 0.3); 
                                              font-size: 18px;
                                              text-align: center;
                                              border: 1ps solid red; ">
      

                        <h2 style="padding-top: 10px;">Log in to your application</h2>

                        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                          <div class="field">
                            <%= f.label :email %><br />
                            <%= f.email_field :email, autofocus: true, autocomplete: "email", style: 'color: #2C3E50; width: 75%;' %>
                          </div>

                          <div class="field">
                            <%= f.label :password %><br />
                            <%= f.password_field :password, autocomplete: "off", style: 'color: #2C3E50; width: 75%;' %>
                          </div>

                          <% if devise_mapping.rememberable? -%>
                            <div class="field">
                              <%= f.check_box :remember_me %>
                              <%= f.label :remember_me %>
                            </div>
                          <% end -%>
                          <br />
                          <div class="text-center">
                            <%= f.submit 'Log In', class: "btn btn-primary btn-lg" %>
                          </div>
                        <% end %>

                        <hr />
                        
                        <%= render "devise/shared/links" %>

                        <hr />

                        <div style="border: 1px solid #D98880; margin-top: 20px;">
                            <h3>Use these testing credentials</h3>
                            <h3>Username: admin@gmail.com</h3>
                            <h3>Password: 123456</h3>
                        </div>


                  </div>

          </div>
      
      
      
        </div>




    </div>







 
  
  
  

</header>