<!DOCTYPE html>
<html>
  <head>
    <title>DibraSHAD</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link rel="stylesheet" href="vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="vendor/simple-line-icons/css/simple-line-icons.css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="device-mockups/device-mockups.min.css">

    <!-- Custom styles for this template -->
    <link href="css/new-age.css" rel="stylesheet">

  </head>

  <body id="page-top">

    <% if user_signed_in? %>
      <div style="display: flex;
                  font-size: 18px; 
                  background-color: #D7DBDD; 
                  height: 75px;     
                  padding: 5px 50px;">
       
        <div style="width: 80%;">
          Logged in as <strong style="color: #E74C3C;"><%= current_user.email %></strong>
        </div>

       

        <div style="text-align:right; width: 20%;">
          <span class="glyphicon glyphicon-user"></span>
          <%= link_to 'My Account', edit_user_registration_path, :style=> 'color: #E74C3C; margin-right: 20px;', :class => 'navbar-link' %>


          <span class="glyphicon glyphicon-user"></span>
          <%= link_to "Logout", destroy_user_session_path, method: :delete, :style=> 'color: #E74C3C', :class => 'navbar-link'  %>
        </div>
      </div>
      
      <div style="
                  width: 20%;
                  height: auto;
                  border: 0px solid red;
                  padding: 20px 20px;
                  float: left;
                  "> 
         
        <div style="border: 1px solid #808B96; margin-bottom: 10px; border-radius: 4px; font-size: 18px; padding: 10px 20px;">
          <span style="margin-right: 10px;" class="glyphicon glyphicon-user"></span>
          <%= link_to 'Applications List', applicants_path, :class => 'navbar-link' %>
        </div>

        <div style="border: 1px solid #808B96; margin-bottom: 10px; border-radius: 4px; font-size: 18px; padding: 10px 20px;">
          <span style="margin-right: 10px;" class="glyphicon glyphicon-record"></span>
          <%= link_to 'Users List', users_path, :class => 'navbar-link' %>
        </div>

        <div style="border: 1px solid #808B96; margin-bottom: 10px; border-radius: 4px; font-size: 18px; padding: 10px 20px;
        background-color: #566573; ">
          <span style="margin-right: 10px;" class="glyphicon glyphicon-cog"></span>
          <%= link_to 'Settings', users_path, :class => 'navbar-link' %>
        </div>

      </div>

      <div style="border: 0px solid red; width: 79%; float: left;">
        <%= yield %>
      </div>

    <% else %>
      
      <%= yield %>
      
    <% end %>



    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/new-age.min.js"></script>

  
  </body>

  </html>


